<h3 class="text-4xl font-black">
  PaísesApp
</h3>
<nav class="flex flex-col gap-1 my-3">
  <a
    class="text-lg hover:bg-gray-200 hover:transition p-1 text-center"
    routerLink=""
    routerLinkActive="bg-gray-200"
    [routerLinkActiveOptions]="{exact: true}"
  >Buscar país</a>
  <a
    class="text-lg hover:bg-gray-200 hover:transition p-1 text-center"
    routerLink="region"
    routerLinkActive="bg-gray-200"
  >Por región</a>
  <a
    class="text-lg hover:bg-gray-200 hover:transition p-1 text-center"
    routerLink="capital"
    routerLinkActive="bg-gray-200"
  >Por capital</a>
</nav>
